/* Mobile first queries */
/* applies to ALL widths */
	.logo{
	background-color:transparent;
	color:white;
	font-size:6rem;
    top: 5px
    text-align:center;
    }
    
    .header {
    padding: 20px 0 20px 0;
    margin-bottom: 10px;
    background-position:center top;
	}
	.border {
	border: 10px solid white;
	}
	
	.center {
	text-align:center;
	}
	
	.button:hover {background-color:red;}
	.button {
	background-color: white;
    text-align: center;
    text-decoration:none;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%    		
    }
    
@media (max-width: 500px) {
	.logo{font-size:4rem;}
	.button {font-size:.75em;}  
}

@media (min-width: 501px) {
	.logo{
	font-size:5.5rem;
    }
	.button {
    font-size:.55em;
    }

}
@media (min-width: 701px) {
	.logo{
	font-size:6rem;
	}
	.button {
	font-size:.75em;
	}
}





